
header{
    background-color:$marronoscuro;
    width: 100%;
    height: 100%;
}
header{
    nav{
        div {
        list-style: none;
        display: flex;
        flex-direction: row;
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
        justify-content: center;
        align-items: center;
            } 
        }
    } 
header{
    nav{
        display: flex;
        flex-direction:column;
        justify-content:space-around;
        }
    } 
    // para animar al logo
@keyframes moverLogo{
    0%{
        transform: scale(1,1);
    }
    25%{
        transform: scale(1.1, 1.1);
    }
    50%{
        transform: scale(1.2, 1.2);
    }
    75% {
        transform: scale(1.3,1.3);
    }
    100% {
        transform: scale(1,1);
    }
}
.logo{
width: 10rem;
height: 10rem;
// aqui llamamos a la animacion anterio
animation-name: moverLogo;
animation-duration: 3s;
animation-delay: 0.5s;
animation-timing-function: linear;
animation-iteration-count: infinite;

}
a{
color:$marroncaqui;

}
.nav-link {

font-size: 1.5rem;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
margin: 3rem;

}
header{ 
    nav{
        ul{                            
                li{
                    a:hover{
                        color: rgb(255, 132, 0);
                    }
                }
            }
        }
 } 
 .nav-item {
    a:hover{
            color: rgb(255, 132, 0);
            }
    }
.nav-item {
        a{
        color:$marroncaqui;         
        }
    }
