*{
    /* reseteo */
    margin: 0 ;
    padding: 0; 
    width: 100%; 
    max-width: 1200px;
    }
// copio la primer parte de mi css de github y la pego ac'a para ver como se replica en el css nuevo/
html{
    font-size: 62.5%;
}